<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declaración de características opcionales del dispositivo -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Declaración de permisos requeridos por la aplicación -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permiso para acceso a internet -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- Permiso para enviar SMS -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- Permiso para usar Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Permiso de administración de Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- Permiso para conexión Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> <!-- Permiso para escaneo de dispositivos Bluetooth -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Permiso para leer contactos del dispositivo -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permiso para acceder a la cámara -->

    <!-- Permisos de acceso a almacenamiento y multimedia -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Permiso para leer almacenamiento externo en versiones anteriores a Android 13 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Permiso para leer imágenes en Android 13+ -->

    <!-- Configuración principal de la aplicación -->
    <application
        android:name="utils.AppLifecycleManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_principal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_principal"
        android:supportsRtl="true"
        android:theme="@style/Theme.Delgado_VictorIMDbAPP"
        tools:targetApi="31">

        <!-- Configuración del FileProvider para compartir archivos -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.pmdm.delgado_victorimdbapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Meta-data para Google Maps API y Google Play Services -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAER7D-uvYpBOG3wZjz9z3AeGulqAci-OU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Declaración de actividades -->
        <activity
            android:name=".SelectAddressActivity"
            android:exported="false" />
        <activity
            android:name=".EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".MovieDetailsActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Delgado_VictorIMDbAPP.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".MovieListActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        
        <!-- Configuración para Facebook SDK -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- Meta-datos para configuración de Facebook SDK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>
</manifest>